@page
@model ECommerceRazor.Pages.Cliente.Carrito.ConfirmacionOrdenModel
@{
}

<div class="container row">
    <div class="col text-center">
        <h1 class="text-success text-center">Orden creada correctamente</h1>
        El numero de orden es: @Model.OrdenId
        <img src="~/img/imagen-confirmacion.png" width="90%" />
    </div>
    <div class="col-12 text-center">
        <br />
        Su orden ha sido creada correctamente
        Gracias por tu compra
    </div>
</div>
