@page
@model ECommerceRazor.Pages.Admin.Categorias.CrearModel
@{
    ViewData["Title"] = "Crear categoria";
}

<div class="container mt-5">
    <div class="card shadow-lg">
      <div class="card-header bg-primary text-white">
        <h4><i class="fade fa-plus-circle"></i>Crear Nueva Categoria</h4>
      </div>
      <div class="card-body">
          <form method="post">
              <!-- Validation Summary -->
              <div asp-validation-summary="All" class="alert alert-danger d-none" id="validation-summary"></div>
              <!--Campo: Nombre -->
              <div class="mb-3">
                  <label asp-for="Categoria.Nombre" class="form-label"></label>
                  <div class=" input-group">
                      <span class=" input-group-text"><i class="fa fa-tag"></i></span>
                      <input asp-for="Categoria.Nombre" class="form-control" placeholder="Ingresa el nombre de categoria" />
                  </div>
                  <span asp-validation-for="Categoria.Nombre" class="text-danger"></span>
              </div>

                <!--Campo: Orden de Visualizacion -->
                <div class="mb-3">
                    <label asp-for="Categoria.OrdenVisualizacion" class="form-label"></label>
                    <div class=" input-group">
                        <span class=" input-group-text"><i class="fa fa-sort-numeric-up-alt"></i></span>
                        <input asp-for="Categoria.OrdenVisualizacion" class="form-control" placeholder="Ingresa el orden de visualizacion" />
                    </div>
                    <span asp-validation-for="Categoria.OrdenVisualizacion" class="text-danger"></span>
                </div>
                <!-- Botones -->
                <div class="d-flex justify-content-between">
                    <a asp-page="Index" class="btn btn-secundary">
                        <i class="fa fa-arrow-left"></i> Regresar
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fade fa-save"></i> Guardar
                    </button>
                </div>
          </form>
      </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            const validationSummary = document.getElementById("validation-summary");

            //Mostrar el contenedor solo si tiene errores
            if(validationSummary.innerHTML.trim() !== ""){
                validationSummary.classList.remove("d-none");
            }
        })
        </script>
 }